

/*  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid black; */
    font-family: Arial, Helvetica, sans-serif;
}
body {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto 0;
    
}
.container {
    background-color: rgb(187, 187, 187);
    padding: 5px;
    border-radius: 5px;
}
/* Header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(243, 243, 243);
    color:rgb(67, 67, 67);
    height: 60px;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
}
.header-ms {
    font-size: 12px;
}
.header-title {
    font-size: 20px;
    color:rgb(44, 44, 44);
    font-weight: 550;
}
.header-1 {
    text-align: end;
    font-size: 12px;
}
.header-dark {
    display: flex;
}
input[type=checkbox]{
	height: 0;
	width: 0;
	visibility: hidden;
}

label {
	cursor: pointer;
	text-indent: -9px;
	width: 25px;
	height: 14px;
	background: rgb(255, 255, 255);
	display: block;
	border-radius: 10px;
	position: relative;
    border: 1px solid gray;
}

label:after {
	content: '';
	position: absolute;
	top: 1px;
	left: 1px;
	width: 10px;
	height: 10px;
	background: rgb(92, 92, 92);
	border-radius: 9px;
	transition: 0.3s;
}

input:checked + label {
	background: #3041dd;
}

input:checked + label:after {
	left: calc(100% - 0px);
	transform: translateX(-100%);
	background: #ffffff;
}

label:active:after {
	width: 30px;
}
/* NavBar */
.home {
    display: flex;
    justify-content: space-between;
    background-color: rgb(243, 243, 243);
    height: 50px;
    border-radius: 5px;
    margin: 5px;
    /* margin-top: 15px; */
}
.home>div {
    line-height: 50px;
}
.label {
    font-size: 17px;
    margin-left: 10px;
    cursor: pointer;
}
button {
    color: #5fb973;
    height: 30px;
    background-color: none;
    border: 1px solid #5fb973;
    border-radius: 5px;
    padding: 5px;
    margin-right: 10px;
}
input {
    color:rgb(20, 20, 20);
    border-radius: 5px;
    height: 30px;
    border: 1px solid rgb(192, 192, 192);
    padding: 5px;
}

/* Main */
.main {
    display: flex;
    position: relative;
    align-items: center;
}
.main-left {
    width: 33.33%;
    text-align: center;
    cursor: pointer;
    color: white;
}
.main-content {
    text-align: center;
    width: 33.33%;
}
.main-right {
    text-align: center;
    width: 33.33%;
    cursor: pointer;
    color: white;
}
.cnt-img {
    /* position: relative; */
    border-radius: 5px;
}
.cnt-title {
    position: absolute;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto;
    bottom: 10%;
    color: white;
    /* width: 100px; */
}
.navigation {
    position: absolute;
    left: 42.5%;
    bottom: 5%;
}
#movie0,#movie1,#movie2,#movie3,#movie4{
    background: rgb(112, 112, 112);
    width: 25px;
    height: 3px;
    margin: 5px;
    cursor: pointer;
}
#movie0 {
    background-color: white;
}

/* Popular movies */
.popular {
    display: flex;
    position: relative;
    align-items: center;
}
.popular-left {
    width: 5%;
    text-align: center;
    cursor: pointer;
    color: white;
}
.popular-content {
    position: relative;
    text-align: center;
    width: 90%;
    justify-content: space-between;   
}
.popular-content>div {
    width: 33%;
}
.popular-right {
    text-align: center;
    width: 5%;
    cursor: pointer;
    color: white;
}
.popular-cnt-img {
    border-radius: 5px;
    height: 150px;
    margin: 10px;
}
.popular-cnt-img:hover {
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transition: transform .2s;
    transform: scale(1.5);
    z-index: 1;
}
.popular-wrap {
    position: relative;
}
.popular-wrap:hover .popular-cnt-layer {
    visibility: visible;
    background-color: #3041dd;
    bottom: -13%;
    left: -22%;
    width: 150%;
    height: 30px;
    opacity: 1;
    border-radius: 5px;
    z-index: 2;
    transition: width 1s, height 1s, opacity .5s;
    background-color: rgb(43, 43, 43);
    color: rgb(213, 213, 213);
}


.popular-cnt-layer {
    position: absolute;
    visibility: hidden;
    width: 150%;
    height: 0;
    opacity: 0;
}
.popular-title {
    position: relative;
}
.popular-navigation {
    position: absolute;
    right: 0%;
    bottom: 5%;
}
#popular-movie0,#popular-movie1,#popular-movie2,#popular-movie3,#popular-movie4{
    background: rgb(112, 112, 112);
    width: 25px;
    height: 3px;
    margin: 5px;
    cursor: pointer;
}
#popular-movie0 {
    background-color: white;
}
/* #movie0,#movie1,#movie2,#movie3,#movie4:hover{
    background: red;
    width: 20px;
    height: 3px;
    margin: 10px;
} */


/* Top Rating movies */
.toprating {
    display: flex;
    position: relative;
    align-items: center;
}
.toprating-left {
    width: 5%;
    text-align: center;
    cursor: pointer;
    color: white;
}
.toprating-content {
    text-align: center;
    width: 90%;
    justify-content: space-between; 
}
.toprating-content>div {
    width: 33%;
}
.toprating-right {
    text-align: center;
    width: 5%;
    cursor: pointer;
    color: white;
}
.toprating-cnt-img {
    /* position: relative; */
    border-radius: 5px;
    height: 150px;
    margin: 10px;
}
.toprating-cnt-img:hover {
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transition: transform .2s;
    transform: scale(1.5); 
}
.toprating-cnt-img:hover {
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transition: transform .2s;
    transform: scale(1.5);
    z-index: 1;
}
.toprating-wrap {
    position: relative;
}
.toprating-wrap:hover .toprating-cnt-layer {
    visibility: visible;
    background-color: #3041dd;
    bottom: -13%;
    left: -22%;
    width: 150%;
    height: 30px;
    opacity: 1;
    border-radius: 5px;
    z-index: 1;
    transition: width 1s, height 1s, opacity .5s;
    background-color: rgb(43, 43, 43);
    color: rgb(213, 213, 213);
}


.toprating-cnt-layer {
    position: absolute;
    visibility: hidden;
    width: 150%;
    height: 0;
    opacity: 0;
}
.toprating-title {
    position: relative;
}
.toprating-navigation {
    position: absolute;
    right: 0%;
    bottom: 5%;
}
#toprating-movie0,#toprating-movie1,#toprating-movie2,#toprating-movie3,#toprating-movie4{
    background: rgb(112, 112, 112);
    width: 25px;
    height: 3px;
    margin: 5px;
    cursor: pointer;
}
#toprating-movie0 {
    background-color: white;
}
/* #movie0,#movie1,#movie2,#movie3,#movie4:hover{
    background: red;
    width: 20px;
    height: 3px;
    margin: 10px;
} */

/* Movie information */
.info {
    text-align: center;
    border: 2px solid rgb(123, 123, 123);
    margin: 5px;
    border-radius: 5px;
    font-size: 20px;
    color:rgb(43, 43, 43)
}
.info>div {
    margin: 5px;

}
.info-image {
    height: 350px;
}

.footer {
    display: flex;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    height: 30px;
    align-items: center;
    padding: 10px;
    margin: 5px;
}
.footer-ms {
    margin: 10px;
}
.footer-title {
    
    margin: 10px;
}